.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}
.categoryItem.style {
    background-color: rebeccapurple;
}
.categoryItem.fashion {
    background-color: rebeccapurple;
}
.categoryItem.food {
    background-color: rebeccapurple;
}
.categoryItem.travel {
    background-color: rebeccapurple;
}
.categoryItem.culture {
    background-color: rebeccapurple;
}
.categoryItem.coding {
    background-color: rebeccapurple;
}
